<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
    <!-- Based on https://developer.apple.com/library/archive/documentation/CoreFoundation/Conceptual/CFBundles/BundleTypes/BundleTypes.html#//apple_ref/doc/uid/10000123i-CH101-SW5 -->
    <!-- See also https://github.com/bitcoin/bitcoin/blob/master/share/qt/Info.plist.in as an example. -->
    <dict>
        <key>CFBundleName</key>
        <string>Liana</string>

        <key>CFBundleDisplayName</key>
        <string>Liana</string>

        <key>CFBundleIdentifier</key>
        <string>com.wizardsardine.liana</string>

        <key>CFBundleVersion</key>
        <string>VERSION_PLACEHOLDER</string>

        <key>CFBundleShortVersionString</key>
        <string>VERSION_PLACEHOLDER</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>CFBundleSignature</key>
        <string>????</string>

        <key>CFBundleExecutable</key>
        <string>Liana</string>

        <key>LSMinimumSystemVersion</key>
        <string>10.15.0</string>

        <key>CFBundleIconFile</key>
        <string>Liana.icns</string>

        <key>NSPrincipalClass</key>
        <string>NSApplication</string>

        <key>LSApplicationCategoryType</key>
        <string>public.app-category.finance</string>

    </dict>
</plist>
