[workspace]
resolver = "2"
members = ["fuzz", "coincube-core", "coincubed", "coincube-gui", "coincube-ui"]
default-members = ["coincube-core", "coincubed", "coincube-gui", "coincube-ui"]

# Patch to resolve dependency conflicts with Breez SDK
[patch.crates-io]
# Resolve rusqlite/libsqlite3-sys conflicts between breez-sdk and coincubed
rusqlite = { git = "https://github.com/Spxg/rusqlite", rev = "8e53118a3e1807dc9a9f59c5969fdff7e0416400" }
# Resolve secp256k1-zkp MuSig2 types needed by boltz-client (Breez SDK dependency)
secp256k1-zkp = { git = "https://github.com/breez/rust-secp256k1-zkp.git", rev = "eac2e479255a6e32b5588bc25ee53c642fdd8395" }

[profile.app-release]
inherits = "release"
opt-level = 3
strip = "symbols"
lto = "fat"
codegen-units = 1
panic = "abort"
