[package]
name = "minisafe"
version = "0.0.1"
authors = ["Antoine Poinsot <darosior@protonmail.com>"]
edition = "2018"
repository = "https://github.com/revault/minisafed"
license-file = "LICENCE"
keywords = ["bitcoin", "wallet", "safe", "script", "miniscript", "inheritance", "recovery"]
description = "Minisafe wallet daemon"
exclude = [".github/", ".cirrus.yml", "tests/",  "test_data/", "contrib/", "pyproject.toml"]

[[bin]]
name = "minisafed"
path = "src/bin/daemon.rs"
required-features = ["jsonrpc_server"]

[[bin]]
name = "minisafe-cli"
path = "src/bin/cli.rs"
required-features = ["jsonrpc_server"]

[features]
default = ["jsonrpc_server"]
jsonrpc_server = []

[dependencies]
# For managing transactions (it re-exports the bitcoin crate)
miniscript = { version = "6.0.0", features = ["use-serde"] }

# Don't reinvent the wheel
dirs = "3.0"

# We use TOML for the config, and JSON for RPC
serde = { version = "1.0", features = ["derive"] }
toml = "0.5"
serde_json = { version = "1.0", features = ["raw_value"] }

# Logging stuff
log = "0.4"
fern = "0.6"

# In order to have a backtrace on panic, because the
# stdlib does not have a programmatic interface yet
# to work with our custom panic hook.
backtrace = "0.3"

# Pinned to this version because they broke the MSRV in 0.27...
# FIXME: this is unfortunate, we don't receive the updates (sometimes critical) from SQLite.
rusqlite = { version = "0.26.3", features = ["bundled", "unlock_notify"] }

# To talk to bitcoind
jsonrpc = "0.12"

# Used for daemonization
libc = "0.2"

# Used for PSBTs
base64 = "0.13"
