[workspace]
resolver = "2"
members = ["fuzz", "coincube-core", "coincubed", "coincube-gui", "coincube-ui"]
default-members = ["coincube-core", "coincubed", "coincube-gui", "coincube-ui"]

[profile.app-release]
inherits = "release"
opt-level = 3
strip = "symbols"
lto = "fat"
codegen-units = 1
panic = "abort"
