name: CI

on:
  push:
  pull_request:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        run: |
          rustup update stable
          rustup default stable
          rustup component add rustfmt clippy
      - name: rustfmt
        run: cargo fmt -- --check
      - name: clippy
        run: |
          sudo apt-get update &&
          sudo apt-get install --allow-downgrades libudev-dev pkg-config libvulkan-dev libdbus-1-dev &&
          cargo clippy --all-targets -- -D warnings

  unit_tests:
    needs: linter
    strategy:
      matrix:
        toolchain:
          - stable
          - nightly
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Install Rust ${{ matrix.toolchain }} toolchain
        run: |
          rustup update ${{ matrix.toolchain }}
          rustup default ${{ matrix.toolchain }}
      - name: Test on Rust ${{ matrix.toolchain }} (Windows)
        if: matrix.os == 'windows-latest'
        run: cargo test --no-default-features
      - name: Test on Rust ${{ matrix.toolchain }} (Unix)
        if: matrix.os == 'macOS-latest'
        run: cargo test --color always -- --nocapture
      - name: Test on Rust ${{ matrix.toolchain }} (Unix)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update &&
          sudo apt-get install libudev-dev libfontconfig1-dev pkg-config libdbus-1-dev &&
          cargo test --color always -- --nocapture
